<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/mrp/style.css">
    <link rel="icon" href="/mrp/img/nasa-logo.svg">
    <title>Mars Rover Photoss</title>
</head>
<body>
    
</body>
</html>